.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0px;
  cursor: pointer;
}

.navbar .logo {
  font-size: 27px;
  color: #435a3d;
}

.navbar .menu {
  display: flex;
  gap: 30px;
  font-size: 17px;
}

.hero-section {
  background-color: #1b4711;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}

.hero-section .title {
  color: bisque;
  font-size: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  height: 50px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 15px;
  background-color: #fff;
  padding: 0 20px;
  width: 300px;
}

.search-bar button {
  height: 50px;
  background-color: rgb(230, 200, 140);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 0 24px;
  font-weight: 500;
  font-size: 16px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.book-card {
  background: #fff;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  height: 300px;
  border: solid 1px #1b4711;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.book-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 200px;
}

.book-card h6 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  padding: 10px;
}

.book-card p {
  font: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  white-space: nowrap;
  padding: 5px;
}
